.header
  position: relative
  margin-bottom: 55px
  display: flex
  align-items: center
  justify-content: center
  min-height: 102px

  &::before
    content: ''
    background: $darkColor
    position: absolute
    width: 100%
    height: 102px
    z-index: -1
    top: 0

  .logo
    max-width: 300px
    padding-top: 8px

    @media (min-width: 720px)
      max-width: 100%
      padding-top: 3px